.lloader-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: auto;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    user-select: none;
    color: #fff;
    scale: 2;
}

.lloader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;

    background-color: transparent;
    mask: repeating-linear-gradient(90deg,
            transparent 0,
            transparent 6px,
            black 7px,
            black 8px);
}

.lloader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.438) 0%, transparent 50%),
        radial-gradient(circle at 45% 45%, rgba(255, 0, 0, 0.34) 0%, transparent 45%),
        radial-gradient(circle at 55% 55%, rgba(0, 255, 255, 0.416) 0%, transparent 45%),
        radial-gradient(circle at 45% 55%, rgba(0, 255, 0, 0.377) 0%, transparent 45%),
        radial-gradient(circle at 55% 45%, rgba(0, 0, 255, 0.311) 0%, transparent 45%);
    mask: radial-gradient(circle at 50% 50%,
            transparent 0%,
            transparent 10%,
            rgba(43, 42, 42, 0.587) 25%);
    animation:
        transform-animation 2s infinite alternate,
        opacity-animation 4s infinite;
    animation-timing-function: cubic-bezier(0.6, 0.8, 0.5, 1);
}

@keyframes transform-animation {
    0% {
        transform: translate(-55%);
        opacity: 0.4;

    }

    100% {
        transform: translate(55%);
        opacity: 0.3;

    }
}

@keyframes opacity-animation {

    0%,
    100% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    65% {
        opacity: 0;
    }
}

.lloader-letter {
    display: inline-block;
    opacity: 0;
    animation: loader-letter-anim 4s infinite linear;
    z-index: 2;
}

.lloader-letter:nth-child(1) {
    animation-delay: 0.1s;
}

.lloader-letter:nth-child(2) {
    animation-delay: 0.205s;
}

.lloader-letter:nth-child(3) {
    animation-delay: 0.31s;
}

.lloader-letter:nth-child(4) {
    animation-delay: 0.415s;
}

.lloader-letter:nth-child(5) {
    animation-delay: 0.521s;
}

.loader-letter:nth-child(6) {
    animation-delay: 0.626s;
}

.lloader-letter:nth-child(7) {
    animation-delay: 0.731s;
}

.lloader-letter:nth-child(8) {
    animation-delay: 0.837s;
}

.lloader-letter:nth-child(9) {
    animation-delay: 0.942s;
}

.lloader-letter:nth-child(10) {
    animation-delay: 1.047s;
}

@keyframes loader-letter-anim {
    0% {
        opacity: 0.2;
    }

    5% {
        opacity: 1;
        text-shadow: 0 0 4px #fff;
        transform: scale(1.1) translateY(-2px);
    }

    20% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.5;
    }
}